################################
# This is a make-formatted include file
# make will NOT let you use quotation marks around vars, e.g. FOO="BAR"
# copy to .env and edit
################################

################################
### PARAMS FOR LAMBDA OPERATION
################################

# Supply NAME from `arn:aws:lambda:us-east-1:1234567890:function:NAME`
LAMBDA_FUNCTION_NAME=NAME

# Supply NAME from `arn:aws:lambda:us-east-1:1234567890:layer:NAME:1`
LAMBDA_DEPENDENCIES_LAYER=NAME

# S3-bucket name
S3_CACHE_BUCKET_NAME=sbn-sis-image-cache-1

# Last date of CSS data available at AWS
S3_CSS_DATE_LIMIT=2023-03-01

################################
### PARAMS TO EDIT AWS RESOURCES
################################
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX
