# make formatted include file
# copy to .env and edit

# Amazon resource names for deployment
LAMBDA_FUNCTION_NAME = arn:aws:lambda:REGION:1234567890:function:NAME
LAMBDA_DEPENDENCIES_LAYER = arn:aws:lambda:REGION:1234567890:layer:NAME
